.Parentbox{
  background: rgb(rgb(130, 255, 255), green, blue);
  overflow: hidden;
  width: 100%;
  /* height: 300px; */
  padding-left: 100px;
  margin: auto;
  display: flex;
  margin-top: 100px;
}

.Foto{
  width: 50%;
  height: 100%;
  background: rgb(rgb(130, 255, 255), green, blue);
}

.Foto img{
  width: 50%;
}


